<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uz.algorithmgateway.launcher">


    <application
        android:supportsRtl="true"
        android:theme="@style/Theme.TezkorAkfa"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.DesignerActivity"
            android:exported="true"/>

        <activity android:name="uz.algorithmgateway.launcher.ui.splash.SplashActivity" />
        <activity android:name="uz.algorithmgateway.launcher.ui.login.LoginActivity" />

        <activity
            android:name="uz.algorithmgateway.launcher.ui.launcher.LauncherActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>