<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uz.algorithmgateway.supplier">

    <application>
        <activity
            android:name=".SupplierActivity"
            android:exported="false" />
    </application>

</manifest>